@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
    --light-gray: hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
}

* {
    border: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-gray);
}

.container {
    background-color: var(--white);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 1rem 2rem;
    width: 320px;
}

.container__image {
    border-radius: .75rem;
    width: 100%;
}

.container__title, .container__subtitle, .attribution {
    text-align: center;
}

.container__title {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.container__subtitle {
    color: var(--grayish-blue);
    font-size: 1rem;
    font-weight: 400;
}