@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
    --light-gray: hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
}

* {
    border: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}