@import url("./base.css");

.wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.qrcode {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 325px;
    margin: 1rem;
    padding: 1rem 1rem 2rem;
}

.qrcode__code {
    border-radius: .75rem;
    overflow: hidden;
}

.qrcode__code__image {
    display: block;
    transition: transform 200ms ease-out;
    width: 100%;
}

.qrcode__code__image:hover {
    transform: scale(1.25);
}

.text {
    max-width: 260px;
    text-align: center;
}

.qrcode__text {
    margin: 1.25rem auto 0;
}

.qrcode__text:nth-of-type(2) {
    margin: 0 auto;
}

.qrcode__text__title {
    color: var(--dark-blue);
    font-size: 1.375rem;
    font-weight: 700;
}

.qrcode__text__subtitle {
    color: var(--grayish-blue);
    font-size: 0.9375rem;
    font-weight: 400;
}

.qrcode__attribution__text {
    color: var(--grayish-blue);
}

.qrcode__attribution__link {
    color: var(--dark-blue);
    transition: opacity 150ms;
}

.qrcode__attribution__link:hover {
    opacity: 0.8;
}